html,body {
    margin: auto;
    height: 100%;
    width: auto;
    /*  background-color: #FAFAFA; */
}

#password-info{
    height: 16px;
}

#password_criteria{
    display: none;
    margin-left: 0px;
    padding-left: 0px;
}

#confirm_criteria{
    display: none;
    margin-left: 0px;
    padding-left: 0px;
}

#password_criteria li {
    font-size: 13px;
}
#confirm_criteria li {
    font-size: 13px;
}

#password_criteria {
    text-shadow: 0 0 0 lightgreen;
    content: '\02714';
}
#confirm_criteria {
    text-shadow: 0 0 0 lightgreen;
    content: '\02714';
}

#password_criteria li[class="password-criteria-true"]::before,
#password_criteria li[class="password-criteria-false"]::before
{
    margin-right: 0.5rem;
    color: transparent;
}

#confirm_criteria li[class="password-criteria-true"]::before,
#confirm_criteria li[class="password-criteria-false"]::before
{
    margin-right: 0.5rem;
    color: transparent;
}

#password_criteria li[class="password-criteria-true"]::before
{
    text-shadow: 0 0 0 lightgreen;
    content: '\02714';
}
#confirm_criteria li[class="password-criteria-true"]::before
{
    text-shadow: 0 0 0 lightgreen;
    content: '\02714';
}

#password_criteria li[class="password-criteria-false"]::before
{
    text-shadow: 0 0 0 red;
    content: '\02716';
}
#confirm_criteria li[class="password-criteria-false"]::before
{
    text-shadow: 0 0 0 red;
    content: '\02716';
}

#label-check-agreeTerms{
    font-size: 13px;
}
#photo_edit_user{
    height: 100px;
    width: 100px;
}

/* hauteur ckeditor */
.ck-editor__editable_inline {
    min-height: 300px;
}
/*--------------*/

/********************************************/

/* button bordeaux btn-wine */
.btn-wine {
    color: #ffffff;
    background-color: #9C1448;
    border-color: #4D0322;
}

.btn-wine:hover,
.btn-wine:focus,
.btn-wine:active,
.btn-wine.active,
.open .dropdown-toggle.btn-wine {
    color: #ffffff;
    background-color: #730F3E;
    border-color: #4D0322;
}

.btn-wine:active,
.btn-wine.active,
.open .dropdown-toggle.btn-wine {
    background-image: none;
}

.btn-wine.disabled,
.btn-wine[disabled],
fieldset[disabled] .btn-wine,
.btn-wine.disabled:hover,
.btn-wine[disabled]:hover,
fieldset[disabled] .btn-wine:hover,
.btn-wine.disabled:focus,
.btn-wine[disabled]:focus,
fieldset[disabled] .btn-wine:focus,
.btn-wine.disabled:active,
.btn-wine[disabled]:active,
fieldset[disabled] .btn-wine:active,
.btn-wine.disabled.active,
.btn-wine[disabled].active,
fieldset[disabled] .btn-wine.active {
    background-color: #9C1448;
    border-color: #4D0322;
}

.btn-wine .badge {
    color: #9C1448;
    background-color: #ffffff;
}

/* end button wine */

/* button gray */
.btn-gray {
    color: #ffffff;
    background-color: #9C999A;
    border-color: #0A090A;
}

.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
    color: #ffffff;
    background-color: #6B6568;
    border-color: #0A090A;
}

.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
    background-image: none;
}

.btn-gray.disabled,
.btn-gray[disabled],
fieldset[disabled] .btn-gray,
.btn-gray.disabled:hover,
.btn-gray[disabled]:hover,
fieldset[disabled] .btn-gray:hover,
.btn-gray.disabled:focus,
.btn-gray[disabled]:focus,
fieldset[disabled] .btn-gray:focus,
.btn-gray.disabled:active,
.btn-gray[disabled]:active,
fieldset[disabled] .btn-gray:active,
.btn-gray.disabled.active,
.btn-gray[disabled].active,
fieldset[disabled] .btn-gray.active {
    background-color: #9C999A;
    border-color: #0A090A;
}

.btn-gray .badge {
    color: #9C999A;
    background-color: #ffffff;
}
/* end button gray */
